NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=invidious.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=shpat_xxxx
SHOPIFY_SHOP=your-store-subdomain
SHOPIFY_CLIENT_ID=your_client_id
SHOPIFY_CLIENT_SECRET=your_client_secret
SHOPIFY_API_VERSION=2024-04

RESEND_API_KEY=re_xxxx
RESEND_FROM_EMAIL= drops@invidious.store

TWILIO_ACCOUNT_SID=ACxxxx
TWILIO_AUTH_TOKEN=xxxx
TWILIO_FROM_NUMBER=+1xxxx

PROMO_LIST_STORE=stores/0x...
PROMO_LIST_SIGNING_SECRET=xxxx
AUTH_CODE_STORE=stores/0x...
AUTH_CODE_SIGNING_SECRET=xxxx
