@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    --foreground: 232 232 232;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: 'Inter', sans-serif;
}
/* deploy trigger */
